data/.DS_Store

# Fichiers de données à ignorer
*.csv
*.xlsx
.xls
#data/
data/GravityCEPII/
data/GeoDistCEPII/
data/OLD_VERSIONS/
data/data_authors/
data/data_prediction.csv
notebooks/stan_outputs
notebooks/stan_outputs_tmux
bin/ 
code_local/
STAN/old_stan_codes
notebooks/old_notebooks_Hurdle_ARX
figures_HMC/
data/V-Dem-CY-Core-v16.csv
data/UcdpPrioConflict_v25_1.csv
data/

STAN/old_stan_codes
notebooks/old_notebooks_Hurdle_ARX
# Fichiers Python temporaires
__pycache__/
*.ipynb_checkpoints
.venv/
.env

# Fichiers VSCode
.vscode/ 

.DS_Store